.messages-output {
    height: 80vh;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 1%;
    background-color: rgb(243, 243, 243);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 88, 88);
}

@keyframes bounce {
    0% {
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    4.7% {
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    9.41% {
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    14.11% {
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    18.72% {
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    24.32% {
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    29.93% {
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    35.54% {
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    41.04% {
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    52.15% {
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    63.26% {
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    85.49% {
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}


.message-inner {
    /*Background*/
    background-color: #d1e7dd;

    /*Border*/
    border: 2px solid white;
    border-radius: 20px;
    border-style: solid;
    border-top-right-radius: 0;

    /*Margin*/
    margin-inline: 20px;
    margin-bottom: 10px;

    /*Size*/
    padding: 7px;
    min-width: 250px;
    max-width: 400px;
    min-height: auto;
    max-height: 400px;
    display: inline-block;

    /*Text*/
    font: 400 1em, sans-serif;
    text-align: left;
    word-wrap: break-word;

    /*Animation*/
    animation-duration: 0.5s;
    animation-name: bounce;
}

.incoming-message .message-inner {
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-style: solid;
    background-color: #ffdab9;
}

.incoming-message {
    display: flex;
    justify-content: flex-start;
}

.message {
    display: flex;
    justify-content: flex-end;
}

.message-timestamp-left {
    font-size: 0.85em;
    color: grey;
    font-weight: 300;
    margin-top: 10px;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
}

.conversation-info {
    padding: 0px;
    margin: 0px auto;
    text-align: left;
    height: 90px;
}

.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0px auto;
    margin-bottom: 3px;
    border-radius: 50%;
    margin-left: 5px;
}

.send-message-icon {
    margin: 9px auto;
    display: inline-block;
}